.button{
    position: relative;
    height: 50px;
}
button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
    margin: 5px
}

.btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(240, 231, 184);
    color: brown;
    outline: none;
    font-weight: bold;
}

.btn:hover{
    color: rgb(80, 102, 76);
    background: rgb(238, 213, 87);
}