@import '../components/Header/Header.less';
@import '../components/Icon/Icon.less';
@import '../components/Input/Input.less';
@import '../components/Select/Select.less';
@import '../components/SiteManager/SiteManager.less';
@import '../components/Loader/Loader.less';
@import '../components/Button/Button.less';
@import '../components/Map/Map.less';
@import '../components/Tooltip/Tooltip.less';
@import '../components/YearInput/YearInput.less';
@import '../components/ImageLodaer/ImageLoader.less';

@import '../containers/Grid/Grid.less';
@import '../containers/MoneyEditor/MoneyEditor.less';
@import '../containers/Views/View.less';
@import '../containers/Popup/Popup.less';
@import '../containers/CardDetails/CardDetails.less';

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	user-select: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.selected {
	background: gold;
}

body {
	height: 100%;
	background-image: white;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.hidden {
	visibility: hidden;
}

.spaces {
	padding: 5px 10px;
}

*::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
