.editor{
    &__container {
        min-width: 800px;
        display: flex;
        flex-direction: column;

        &__content{
            position: relative;
            display: flex;
            align-items: center;

            flex-direction: column;
            div[class='input']{
                min-width: 300px;
                max-width: 350px;
            }
        }
    }
}
